.team_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team_info {
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team_info h1 {
    text-align: center;
    margin-bottom: 3%;
}

.team_info p {
    color: #ffffff;
}

.card {
    border-left: 2px solid #6b9fed;
    margin-left: 5%;
    margin-bottom: 5%;
    padding: 2%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

@media only screen and (max-width: 768px) {
    .team_container {
        flex-direction: column;
    }
    .team_info {
        padding: 3%;
        margin-left: 0;
    }
    .team_info h1 {
        margin-bottom: 2%;
        text-align: center;
    }
    .team_info img {
        display: none;
    }
    .card {
        border: none;
        margin: 5% 0 5% 0;
        display: grid;
        grid-template-columns: repeat(2, 0.5fr);
        grid-template-rows: repeat(8, 0.5fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
}