.contact {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contact_img img {
    width: 150%;
    height: 150%;
    position: relative;
}

.contact__form {
    margin-left: 15%;
    width: 50%;
    padding-left: 1rem;
}

.contact__form>* {
    margin: 1rem 0;
}

.contact__form>*>input,
.contact__form>*>textarea {
    padding: 0.6rem 0.875rem;
    border: none;
    background-color: #e8f0fe;
    border-radius: 5px;
    width: 80%;
    outline: none;
    font-family: System-ui, sans-serif;
}

.contact__form>*>h4 {
    color: #264653;
    margin: 0.5rem 0;
    font-family: "Lora", sans-serif;
}

#message {
    resize: none;
    line-height: 150%;
}

.btn {
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #6b9fed;
    cursor: pointer;
}

.btn:hover {
    background-color: #264653;
}

.socials {
    margin: 2rem auto;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.socials a i {
    color: #6b9fed;
    font-size: 2rem;
    cursor: pointer;
}

.socials a i:hover {
    color: #264653;
}

@media only screen and (max-width: 768px) {
    .contact_img {
        display: none;
    }
    .contact__form {
        width: 100%;
    }
}