.nav_container {
    width: 100%;
    height: 8%;
    position: fixed;
    top: 0;
    margin-bottom: 1%;
    background-color: #242d51ea;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 2px 10px 2px #a1a7c8;
    display: flex;
    align-items: center;
    z-index: 1;
}

.nav_container a {
    text-decoration: none;
}

.nav_logo {
    margin-left: 15%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav_logo span {
    font-size: 2rem;
    margin-left: 5%;
    color: #24f9f9;
    font-family: 'Gugi', cursive;
    text-shadow: 0 0.1rem 0.5rem #24f9f9;
}

.nav_option {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.nav_titles {
    margin: 1%;
    width: 12%;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.4rem;
    font-family: 'Lora', serif;
    padding: 0.2%;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

.nav_titles:hover {
    color: #000000;
    background-color: #24f9f9f5;
    box-shadow: 0 2px 10px 0px gray;
    text-shadow: 0 0.1rem #bcb4b4;
}

.active_nav {
    color: #000000;
    background-color: #24f9f9f5;
    box-shadow: 0 2px 10px 0px gray;
    text-shadow: 0 0.1rem #bcb4b4;
}

.ham_burger {
    display: none;
}

@media only screen and (max-width: 768px) {
    .nav_logo {
        margin-left: 10%;
    }
    .nav_logo img {
        width: 25%;
        height: 25%;
    }
    .nav_titles {
        display: none;
    }
    .ham_burger {
        display: flex;
    }
}