@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,700&display=swap");
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
    color: #6b9fed;
    font-family: 'Gugi', cursive;
}

ul {
    margin: 0;
    padding: 0;
}

ul>li {
    list-style-type: none;
}

ul>li+li {
    margin-top: 0.25rem;
}

.footer {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
    align-items: flex-start;
    min-height: 250px;
    max-width: 1800px;
    font-family: "Lora", sans-serif;
    position: relative;
}

.footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 1px;
    background-color: lightslategray;
}

.foo1 {
    width: 30%;
    margin-right: 1rem;
    padding-left: 0.875rem;
}

.foo1 h2 {
    margin: 0;
    margin-bottom: 1rem;
}

.foo1 p {
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
}

.foo1 a {
    text-decoration: none;
    color: #6b9fed;
}

.foo2 li a,
.foo3 li a,
.foo4 a {
    color: black;
    text-decoration: none;
}

.foo2 li a:hover,
.foo3 li a:hover,
.foo4 a:hover {
    color: #6b9fed;
    text-decoration: underline;
}

.foo2,
.foo3,
.foo4 {
    width: 20%;
}

.foo2>h3,
.foo3>h3,
.foo4>h3 {
    margin-bottom: 1rem;
}

.socials__footer {
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
    color: #6b9fed;
}

.socials__footer>i {
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .footer {
        padding: 0 1.2rem;
        flex-direction: column;
        text-align: left;
        justify-content: start;
        align-items: flex-start;
    }
    .foo1,
    .foo2,
    .foo3,
    .foo4 {
        width: 100%;
    }
    .foo1 {
        padding: 0;
        order: 2;
    }
    .foo2>h3,
    .foo3>h3,
    .foo4>h3 {
        margin-top: 1rem;
    }
}