* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-image: linear-gradient(45deg, #4481eb 10%, #04befe 90%); */
    background-image: linear-gradient(45deg, #4b6cb7 10%, #182848 90%);
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    background: #6b9fed;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #6b9fedc7;
}

.app_container {
    width: 100%;
    height: 100%;
}

.app_body {
    margin-top: 80px;
}